@import "reset.css";
@import "variable.css";

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: var(--spacing-sm);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: relative;
}